rux-global-status-bar::part(app-meta),
rux-global-status-bar .spacer {
  width: 30%;
  min-width: 350px;
}

.icons {
  display: flex;
  gap: var(--spacing-2);
}

main {
  display: flex;
  height: calc(100vh - var(--spacing-24));

  & aside {
    width: 22.5rem;
    background: var(--color-background-surface-default);
    overflow-y: auto;
    border: 1px solid #000;
    position: relative;
    transition: 0.2s linear;
    overflow-x: hidden;

    & :where(.nav-text, .text, .nav-header > rux-icon) {
      white-space: nowrap;
      transition: 0.2s linear;
    }
  }

  & .content {
    flex-grow: 1;
    overflow-x: hidden;
    padding: var(--spacing-6);
  }
}

.appLink {
  display: flex;
  position: relative;
  margin: var(--spacing-0);
  width: inherit;
  padding: var(--spacing-2) var(--spacing-4);
  border-radius: var(--radius-base);
  color: var(--color-background-interactive-default);
  font-family: var(--font-control-body-1-font-family);
  font-size: var(--font-control-body-1-font-size);
  font-weight: var(--font-control-body-1-font-weight);
  line-height: var(--font-control-body-1-line-height);
  letter-spacing: var(--font-control-body-1-letter-spacing);
  border: 1px solid var(--color-background-interactive-default);
  justify-content: center;
  align-items: center;

  &:hover,
  &:active,
  &:focus-within {
    text-decoration: none;
    color: var(--color-background-interactive-hover);
    border-color: var(--color-background-interactive-hover);
  }
}

#home-content:not([hidden]) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: var(--spacing-6);
  padding: 2rem;
  background: var(--color-background-surface-default);
  border-radius: 6px;
  width: 113.75rem; /*300px x 5(cards) + 4 x 4rem(gap) + 4rem(padding)*/
  max-width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  margin-inline: auto;
}

.service-card {
  width: 300px;
  box-sizing: border-box;
  position: relative;

  & header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    & rux-icon {
      color: var(--color-text-primary);
      margin-block: var(--spacing-2);
    }

    h3 {
      font-size: inherit;
      font-weight: inherit;
      margin: 0;
      text-align: center;
    }
  }

  &::part(body) {
    text-align: center;
    color: var(--color-text-secondary);
  }

  p {
    margin: 0;
  }

  & .appLink {
    border-width: 0;
    position: static;
  }
}

@media (hover: hover), (pointer: coarse) {
  .service-card a:before {
    inset: 0;
    position: absolute;
    z-index: 1;
    content: '';
  }

  .service-card:hover,
  .service-card:focus-within {
    & rux-icon {
      color: var(--color-border-interactive-hover);
    }
    &::part(container) {
      background-color: var(--color-background-base-header);
      border-color: var(--color-border-interactive-hover);
    }
  }
}
